.confirmar{
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
}

body{
  background-color: : #fdfffc;
}

header{
  background-color: #f71735;
  width: 100%;
  height: 50px;
}

.voltar{
  margin-left: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.titulo{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
}

.central{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}

.textos{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.5rem;
  margin-top: 20%;
}
