body{
  background-color: #fdfffc;
  height: 100%;
}

header{
  background-color: #f71735;
  width: 100%;
  height: 50px;
}

.voltar{
  margin-left: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.espacito{
	margin-top: 3rem;
	font-size: 2rem;
}

.pesquisa{
	font-weight: bold;
  font-family: 'Didact Gothic', sans-serif;
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
	flex-direction: column;
	text-align: center;
	margin-top: 3rem;
}
.busca{
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	font-size: 2rem;
}
.confirmar{
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}
